In [1]:
# Entrega 2 --> Carlos Martin Sanz

In [2]:
import numpy as np
from scipy.stats import entropy
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import type_of_target

In [3]:
data = pd.DataFrame(columns=['a', 'b', 'c', 'd', 'e', 'f'], index=np.arange(64, dtype=int))

for i in range(64):
    b = bin(i)[2:]
    aux=''
    for k in range(6-len(b)):
        aux += '0'
    b = aux + b
    for j in range(6):
        data.iloc[i,j] = b[j]
data

    a  b  c  d  e  f
0   0  0  0  0  0  0
1   0  0  0  0  0  1
2   0  0  0  0  1  0
3   0  0  0  0  1  1
4   0  0  0  1  0  0
.. .. .. .. .. .. ..
59  1  1  1  0  1  1
60  1  1  1  1  0  0
61  1  1  1  1  0  1
62  1  1  1  1  1  0
63  1  1  1  1  1  1

[64 rows x 6 columns]

In [4]:
data = pd.DataFrame(columns=['a', 'b', 'c', 'd', 'e', 'f'], data=np.array(data).astype(int).astype(bool))
data

        a      b      c      d      e      f
0   False  False  False  False  False  False
1   False  False  False  False  False   True
2   False  False  False  False   True  False
3   False  False  False  False   True   True
4   False  False  False   True  False  False
..    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True
60   True   True   True   True  False  False
61   True   True   True   True  False   True
62   True   True   True   True   True  False
63   True   True   True   True   True   True

[64 rows x 6 columns]

In [5]:
funcion = ((data.a & data.b) | (~data.c & data.d)) ^ (data.e | ~data.f)

In [6]:
data.insert(loc=len(data.columns), column='funcion', value=np.array(funcion, dtype=bool))
data

        a      b      c      d      e      f  funcion
0   False  False  False  False  False  False     True
1   False  False  False  False  False   True    False
2   False  False  False  False   True  False     True
3   False  False  False  False   True   True     True
4   False  False  False   True  False  False    False
..    ...    ...    ...    ...    ...    ...      ...
59   True   True   True  False   True   True    False
60   True   True   True   True  False  False    False
61   True   True   True   True  False   True     True
62   True   True   True   True   True  False    False
63   True   True   True   True   True   True    False

[64 rows x 7 columns]

In [7]:
clf =DecisionTreeClassifier(criterion='entropy')

In [8]:
data.iloc[:,:-1]

        a      b      c      d      e      f
0   False  False  False  False  False  False
1   False  False  False  False  False   True
2   False  False  False  False   True  False
3   False  False  False  False   True   True
4   False  False  False   True  False  False
..    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True
60   True   True   True   True  False  False
61   True   True   True   True  False   True
62   True   True   True   True   True  False
63   True   True   True   True   True   True

[64 rows x 6 columns]

In [13]:
Y = data["funcion"]
Y

0      True
1     False
2      True
3      True
4     False
      ...
59    False
60    False
61     True
62    False
63    False
Name: funcion, Length: 64, dtype: bool

In [19]:
X = data.drop(columns = ["funcion"])
X

        a      b      c      d      e      f
0   False  False  False  False  False  False
1   False  False  False  False  False   True
2   False  False  False  False   True  False
3   False  False  False  False   True   True
4   False  False  False   True  False  False
..    ...    ...    ...    ...    ...    ...
59   True   True   True  False   True   True
60   True   True   True   True  False  False
61   True   True   True   True  False   True
62   True   True   True   True   True  False
63   True   True   True   True   True   True

[64 rows x 6 columns]

In [9]:
data.iloc[:,-1]

0      True
1     False
2      True
3      True
4     False
      ...
59    False
60    False
61     True
62    False
63    False
Name: funcion, Length: 64, dtype: bool

In [10]:
clf.fit(X=data.iloc[:,:-1], y=data.iloc[:,-1])

DecisionTreeClassifier(criterion='entropy')

In [11]:
export_graphviz(clf, out_file="treeDecisionFuncion.dot", feature_names=data.columns[:-1],class_names=True, filled=True)

In [12]:
!dot treeDecisionFuncion.dot -Tpng -o arbol_funcion.png

In [13]:
print("Arbol con python")

Arbol con python

<img src="arbol_funcion.png">

In [14]:
print("Arbol con weka")

Arbol con weka

<img src="Arbol_Weka.png">

In [15]:
print("-------------------------PARTE 2------------------------------")

-------------------------PARTE 2------------------------------

In [16]:
df = pd.read_csv("DatosCredito1.csv")
df

      Riesgo     Historia Deuda     Avales   Ingresos
0       alto         mala  alta         no     0 a 2M
1       alto  desconocida  alta         no     2 a 5M
2   moderado  desconocida  baja         no     2 a 5M
3       alto  desconocida  baja         no     0 a 2M
4       bajo  desconocida  baja         no  mas de 5M
5       bajo  desconocida  baja  adecuados  mas de 5M
6       alto         mala  baja         no     0 a 2M
7   moderado         mala  baja  adecuados  mas de 5M
8       bajo        buena  baja         no  mas de 5M
9       bajo        buena  alta  adecuados  mas de 5M
10      alto        buena  alta         no     0 a 2M
11  moderado        buena  alta         no     2 a 5M
12      bajo        buena  alta         no  mas de 5M
13      alto         mala  alta         no     2 a 5M

In [17]:
tabla_csv_buena = pd.DataFrame(columns=['riesgo', 'historia', 'deuda', 'avales', 'ingresos'], index=np.arange(14, dtype=int))
a,b=np.shape(df)

for i in range (a):
    for j in range (b):
        tabla_csv_buen

NameError: name 'tabla_csv_buen' is not defined

In [18]:
print("No se si habría que importar la tabla normal con texto" 
      " y luego convertirla a numeros, importar la tabla de numeros directamente"
      " o si eso daria error al no disponer del archivo en tu maquina. Por eso he decidido crearla con un"
      " dataframe y que asi te permita ejecutarlo en ordenador en caso de que fuese necesario")

No se si habría que importar la tabla normal con texto y luego convertirla a numeros, importar la tabla de numeros directamente o si eso daria error al no disponer del archivo en tu maquina. Por eso he decidido crearla con un dataframe y que asi te permita ejecutarlo en ordenador en caso de que fuese necesario

In [19]:
data2.iloc[:,1:].astype('int')

NameError: name 'data2' is not defined

In [20]:
data2.iloc[:,0].astype('int')

NameError: name 'data2' is not defined

In [21]:
clf2 =DecisionTreeClassifier(criterion='entropy')

In [22]:
clf2.fit(X=data2.iloc[:,1:].astype('int'), y=data2.iloc[:,0].astype('int'))

NameError: name 'data2' is not defined

In [23]:
clf2.score(X=data2.iloc[:,1:].astype('int'), y=data2.iloc[:,0].astype('int'))

NameError: name 'data2' is not defined

In [24]:
export_graphviz(clf2, out_file='treeDecisionCredito.dot', feature_names=data2.columns[1:], filled=True, class_names=True)

NameError: name 'data2' is not defined

In [25]:
!dot treeDecisionCredito.dot -Tpng -o arbol_credito_python.png

In [26]:
print("Arbol con python para los datos del credito")

Arbol con python para los datos del credito

<img src="arbol_credito_python.png">

In [27]:
print("Arbol con weka para los datos del credito")

Arbol con weka para los datos del credito

<img src="arbol_credito.png">

In [28]:
from id3 import Id3Estimator
from id3 import export_graphviz

ImportError: cannot import name 'six' from 'sklearn.externals' (/home/carlosmartin/anaconda3/lib/python3.9/site-packages/sklearn/externals/__init__.py)

In [29]:
est = Id3Estimator()

NameError: name 'Id3Estimator' is not defined

In [30]:
est.fit(data2.iloc[:,1:].astype('int'), data2.iloc[:,0].astype('int'))

NameError: name 'est' is not defined

In [31]:
export_graphviz(est.tree_, 'credito_id3.dot', data2.columns[1:])

NameError: name 'est' is not defined

In [32]:
!dot credito_id3.dot -Tpng -o arbol_credito_id3.png

<img src="arbol_credito_id3.png">